body {
    background-color: #333;

    margin: 0px;
    padding: 0px;

    font-size: 15px;
    font-family: "Arial", serif;
}

.background {
    background-color: #bbb;
}

h1 {
    color: #fff;
    line-height: 0px;

    font-size: calc(20px + 3vw);
    font-weight: bold;

    text-shadow: 0.1em 0.1em #22aa;
    
    text-align: center;
}

h2 {
    color: #fff;
    line-height: 0px;

    font-size: 24px;
    font-weight: normal;
}

h3 {
    color: #fff;
    line-height: 0px;

    font-size: 18px;
    font-weight: normal;
}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.top-bar {
    background-color: #333;
    color: #fff;
    opacity: 0.8;

    position: fixed;
    top: 0px;
    left: 0px;

    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 65px;
    padding-right: 10px;

    width: 100%;
    font-size: 20px;
    z-index: 1;
}

img.top {
    position: fixed;

    top: 5px;
    left: 0px;
}

video {
    width: 100%;

    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.logo {
    position: absolute;
    width: 100%;

    margin-top: -1em;
}

.frame {
    background-color: #999;
}

.top-text {
    color: #fff;

    padding: 2%;
    padding-bottom: 0px;
}

.post {
    color: #111;
    background-color: #ddd;

    margin: 10px;
    padding: 2%;
    border-radius: 10px;
}

.bottom-bar {
    color: #fff;
    background-color: #333;

    padding: 20px;
    padding-top: 10px;
}